body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
}

h1 {
  padding-top: 1.5em;
  text-align: center;
}

.header {
  background: #414141;
  color: #fff;
  letter-spacing: 0.05em;
  padding: 0.6em;
  text-align: center;
}

.title {
  font-size: 1.5em;
  font-weight: 300;
}

.subtitle {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 100;
}

.not-accepted {
  color: #ff0000;
  text-align: center;
  font-weight: 600;
}
